.vscode
.VSCodeCounter
*.exe
cargo.lock
target/
src/scripts/__pycache__/
src/webui/src/dist/index.d.ts
src/webui/src/dist/
src/webui/build/
src/webui/pnpm-lock.yaml
src/webui/node_modules/
src/rootfs/bin/backup_suite/
/src/webui/src/node_modules
