<style>
#back-button {
    display: none;
}

</style>
<div id="dlg-frame" >
    <div id="dlg-header" style="display: flex; justify-content: flex-start; align-items: center;">
        <sl-icon-button id="back-button" name="chevron-left" label="Back"></sl-icon-button>
        <h3 id="dlg-title" style="margin-right: auto;"></h3>
        <sl-icon-button id="close-button" name="x" label="Close" style="font-size: 1.5rem;"></sl-icon-button>
    </div>
    <slot id="dlg-content"></slot>
</div>